@media (min-width: 1440px) {
}

@media (max-width: 1439px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .control-circle {
    position: absolute;

    top: auto;
    bottom: 13px;
  }
}

@media (max-width: 320px) {
  .control-circle {
    width: 58px;

    &__btn {
      width: 25px;
      height: 25px;
    }

    &__pages {
      margin: 0 0 10px 0;
    }
  }
}