@mixin active-dot {
  width: 56px;
  height: 56px;
  background: #ffffff;
  border: 1px solid rgba(48, 62, 88, 0.5);
}

.circle-dot {
  position: absolute;
  cursor: pointer;
  width: 6px;
  height: 6px;
  background: #42567A;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition-property: width, height, background, border;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 20;

  &:hover {
    @include active-dot();
  }

  &_active {
    @include active-dot();
  }
}